In [1]:
import json
import pandas as pd

In [2]:
files = ['comments'+str(i)+'.json' for i in range(1,79)]

In [3]:
df = None

for file_name in files:
    if df is not None:
        try:
            next_df = pd.read_json('../../data/'+file_name, encoding="ISO-8859-1")
            df = pd.concat([df, next_df])
        except Exception as e:
            print('Cannot load json '+file_name)
            print(e)

    else:
        try:
            df = pd.read_json('../../data/'+file_name, encoding="ISO-8859-1")
        except Exception as e:
            print('Cannot load json '+file_name)
            print(e)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77728 entries, 0 to 650
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   by       77728 non-null  object
 1   id       77728 non-null  object
 2   kids     77728 non-null  object
 3   parent   77728 non-null  object
 4   text     77728 non-null  object
 5   time     77728 non-null  object
 6   type     77728 non-null  object
 7   deleted  77728 non-null  object
 8   dead     77728 non-null  object
dtypes: object(9)
memory usage: 5.9+ MB

In [5]:
df.head()

,by,id,kids,parent,text,time,type,deleted,dead
0,[Jonnax],[24563821],"[24564014, 24563951, 24565071, 24563883, 24564...",[24563698],[There&#x27;s a quote from the CEO saying that...,[2020-09-23 08:58:07],[comment],{},{}
1,[pkphilip],[24563987],"[24564606, 24564531, 24564249]",[24563698],[It is interesting to note that Brendan Eich&#...,[2020-09-23 09:20:14],[comment],{},{}
2,[rattray],[24565829],[24565871],[24563698],[This is a pretty unfair article.<p>The author...,[2020-09-23 13:45:24],[comment],{},{}
3,[bambax],[24564488],"[24564530, 24565153, 24564755, 24565320]",[24563698],[&gt; <i>Mobile browsing numbers are bleak: Fi...,[2020-09-23 10:30:43],[comment],{},{}
4,[shp0ngle],[24563843],"[24564784, 24563894, 24563980, 24563875, 24564...",[24563698],[I&#x27;m two fences on Firefox doing &quot;to...,[2020-09-23 09:01:00],[comment],{},{}

In [7]:
df.to_csv('../data/comments.csv')