In [30]:
import json
import pandas as pd

In [31]:
files = [
    'comments.json',
    'comments1.json',
    'comments2.json',
    'comments3.json',
    'comments4.json',
    'comments5.json',
    'comments6.json',
    'comments7.json',
    'comments8.json',
    'comments9.json',
    'comments10.json',
    'comments11.json',
    'comments12.json',
    'comments13.json'
]

In [32]:
df = None

for file_name in files:
    if df is not None:
        try:
            next_df = pd.read_json('../data/'+file_name, encoding="ISO-8859-1")
            df = pd.concat([df, next_df])
        except Exception as e:
            print('Cannot load json '+file_name)
            print(e)

    else:
        try:
            df = pd.read_json('../data/'+file_name, encoding="ISO-8859-1")
        except Exception as e:
            print('Cannot load json '+file_name)
            print(e)

Cannot load json comments.json
Expected object or value
Cannot load json comments13.json
Expected object or value

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12012 entries, 0 to 1000
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   by      12012 non-null  object
 1   id      12012 non-null  object
 2   kids    12012 non-null  object
 3   parent  12012 non-null  object
 4   text    12012 non-null  object
 5   time    12012 non-null  object
 6   type    12012 non-null  object
dtypes: object(7)
memory usage: 750.8+ KB

In [34]:
df.head()

,by,id,kids,parent,text,time,type
0,[Jonnax],[24563821],"[24564014, 24563951, 24565071, 24563883, 24564...",[24563698],[There&#x27;s a quote from the CEO saying that...,[2020-09-23 08:58:07],[comment]
1,[pkphilip],[24563987],"[24564606, 24564531, 24564249]",[24563698],[It is interesting to note that Brendan Eich&#...,[2020-09-23 09:20:14],[comment]
2,[rattray],[24565829],[24565871],[24563698],[This is a pretty unfair article.<p>The author...,[2020-09-23 13:45:24],[comment]
3,[bambax],[24564488],"[24564530, 24565153, 24564755, 24565320]",[24563698],[&gt; <i>Mobile browsing numbers are bleak: Fi...,[2020-09-23 10:30:43],[comment]
4,[shp0ngle],[24563843],"[24564784, 24563894, 24563980, 24563875, 24564...",[24563698],[I&#x27;m two fences on Firefox doing &quot;to...,[2020-09-23 09:01:00],[comment]

In [35]:
df.to_csv('data/comments.csv')